<h1>{{ title }}</h1>

<button type="button" (click)="alertMessage(title)">Hello</button>

<input type="input" [(ngModel)]="title" />

<ol>
  <li *ngFor="let todo of todos; let i = index">
    {{ todo }}
    <button (click)="removeItem(i)">X</button>
  </li>
</ol>

<input type="input" [(ngModel)]="inputField" />
<button type="button" (click)="addItem()">Add</button>

<h1>*ngIf in Angular</h1>
<h2 *ngIf="true">Hi, Youtube</h2>

<h2 *ngIf="true; else elseBlock">Hi, Youtube</h2>
<ng-template #elseBlock><h2>Hi, Twitter</h2></ng-template>
