
<!-- <ul>
  <li><a routerLink="test">test</a></li>
  <li><a routerLink="input-ps-kw">input Component</a></li>
  <li><a routerLink="input-ps-kw">input-ps-kw</a></li>
</ul>

-->

<div class="row pt-5 pb-2 pe-3 ">
  <h4 class="text-secondary fw-bold col-9">
    Registered Employees (<span class="text-primary small">{{ employees.length }})</span>
  </h4>
  <div class="text-end ">
    <a href="Addemployee" class="btn btn-success fw-bold">Assgin Employee</a>
  </div>
</div>

<em class="h3 m-5" *ngIf="employees.length === 0; else loaded">Loading ......</em>
<ng-template #loaded>

  <div class="container-fluid mt-0 mb-3 p-3 overflow-auto">
    <table class="table table-bordered table-striped align-middle text-center">
      <thead class="table-dark">
        <tr class="border-1 border-dark">
          <th>Employee</th>
          <th>Email</th>
          <th>City</th>
          <th>Phone</th>
          <th>Role</th>
          <th>Changes</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-1 border-dark" *ngFor="let emp of employees">

          <td class="col-2">
            <a class="btn btn-link btn-outline-info p-1 rounded-pill 
            text-opacity-100 text-primary fw-bold text-decoration-none " 
            href="" >{{ getFullName(emp) }}</a>
          </td>
          
          <td class="col-2">{{ emp.email }}</td>
          <td class="col-2">{{ emp.city }}</td>
          <td class="col-1">{{ emp.phone }}</td>
          <td class="col-1">{{ emp.role }}</td>
          <td class="col-1">
            <div class="row justify-content-evenly">
              <a href="" class="btn btn-warning mb-1 mt-1 p-1 w-auto">Update</a>
              <a href="" class="btn btn-danger mb-1 mt-1 p-1 w-auto">Delete&nbsp;</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>